<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Ajouter les commandes</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous">
</head>
<style>
    .form-control {
        display: block;
        width: 35%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
    }
    body {font-family: Arial, Helvetica, sans-serif;}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form method="post"th:action="@{save}">
    <div>

        <!--<form action="/action_page.php">
            <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name="nom" th:value="${intervention.nom}"><br>
            <span class="text-danger" th:errors ="${intervention.nom}"></span>
            <input type="submit">
        </form>-->
        <br>
        <label>Ref Produit </label>
        <input class="form-control" type="text" name="nom" th:value="${commande.nom}">
        <span class="text-danger" th:errors ="${commande.nom}"></span>
    </div>

            <br>
    <div>
        <label>Date de commande </label>
        <input class="form-control"  type="Date" name="date_Programmation" th:value="${commande.date_Programmation}">
        <span class="text-danger" th:errors ="${commande.date_Programmation}"></span>
    </div>
           <!-- <div >
                <label >Urgence </label>
                <select  class="form-select"    name="urgence">
                    <option>Entrer le niveau d'urgence </option>
                    <option value="Urgent" >Urgent</option>
                    <option value="Dans la journée">Dans la journée</option>
                    <option value="Dans la semaine">Dans la semaine</option>
                </select>
            </div>-->
            <br>
            <div>
                <label>Date de la livraison </label>
                <input class="form-control"  type="DATE" name="date_acceptation" th:value="${commande.date_acceptation}">
                <span class="text-danger" th:errors ="${commande.date_acceptation}"></span>
            </div>
           <div>
                <label>État</label>
                <select class="form-select"  name="Etat">
                    <option>Entrer l'état de commande  </option>
                    <option value="En attente">En attente</option>
                    <option value="En cours">En cours</option>
                    <option value="Réalisé(e)">livree</option>
                </select>
            </div>
            <div>
                <label> Ville :</label>
                <select name="Type_intervention" class="form-select" style="width: 100%;" id="stateSel" size="1">
                    <option value="" selected="selected">sélectionner Provinces</option>
                </select>
                <br>
            <label>Nom de Conducteur:</label>
                <select name="Nom_technicien" class="form-select" style="width: 100%;" id="countySel" size="1">
                    <option value="" selected="selected">sélectionner un conducteur   </option>
                </select>
            <br>
            <div>
                <label>commune:</label>
                <select name="type_service" class="form-select" style="width: 100%;" id="citySel" size="1">
                    <option value=""  selected="selected">sélectionner un commune  </option>
                </select>
                </div>
            <script>
                var stateObject = {
                    "CASABLANCA": {
                        "Conducteur 1": ["CASABLANCA (CP)","CASABLANCA (RG)","AîN-CHOCK (AR)",],
                        "Conducteur 2": ["AL-FIDA (AR)","BEN M'SICK ","EL MAARIF","HAY-HASSANI ", "MERS-SULTAN"],
                        "Conducteur 3":["Bernossi","MOULAY RACHID","AîN-SEBAâ (AR)", "sidi moumen", "hay mohamadi "]
                    },
                    "Rabat": {
                        "Conducteur 4": ["AGDAL RIYAD ", "SOUISSI ", "TOUARGA"],
                        "Conducteur 5 ": ["YACOUB EL MANSOUR ", "HASSAN"]
                    },
                    "EL JADIDA": {
                        "Conducteur 6": ["BOULAOUANE", "CHAIBATE","CHTOUKA"
                            , "LAMHARZA ESSAHEL"],
                        "Conducteur 7": [" OULAD SIDI ALI BEN YOUSSEF", " OULAD GHANEM",]
                    }
                }
                window.onload = function(){
                    var stateSel = document.getElementById("stateSel"),
                        countySel = document.getElementById("countySel"),
                        citySel = document.getElementById("citySel");

                    for (var state in stateObject){
                        stateSel.options[stateSel.options.length] = new Option(state, state);
                    }

                    stateSel.onchange = function(){
                        countySel.length = 1;
                        citySel.length =1;
                        if(this.selectedIndes < 1) return;
                        for(var county in stateObject[this.value]){
                            countySel.options[countySel.options.length] = new Option(county, county);
                        }
                    }

                    stateSel.onchange();

                    countySel.onchange = function(){
                        citySel.length = 1;
                        if(this.selectedIndex < 1) return;

                        var cities = stateObject[stateSel.value][this.value];
                        for(var i = 0; i < cities.length; i++){
                            citySel.options[citySel.options.length] = new Option(cities[i], cities[i]);
                        }
                    }
                }
            </script>
            <br>
            <div>
                <label>Adresse:</label>
                <textarea class="form-control" type="text" name="description" th:value="${commande.description}"></textarea>
                <span class="text-danger" th:errors ="${commande.description}"></span>
            </div>
            <br>
            <div>
                <label>Description:</label>
                <textarea class="form-control" type="text" name="description" th:value="${commande.description}"></textarea>
                <span class="text-danger" th:errors ="${commande.description}"></span>
            </div>
<br>
            <div class="d-grid gap-3">
            <button type="submit"class="btn-primary">Ajouter</button>
            </div>
            </div>  </form>
</div>
</div>
</body>
</html>
