<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ajouter les Commandes </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<style>
    .form-control {
        display: block;
        width: 35%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
    }
    body {font-family: Arial, Helvetica, sans-serif;}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form method="post"th:action="@{save2}">
            <div>
                <label>Réference de commande </label>
                <input class="form-control" type="text" name="nom" th:value="${affectation.nom}">
                <span class="text-danger" th:errors ="${affectation.nom}"></span>
            </div>
            <div>
                <label> Ville </label>
                <input class="form-control" type="text" name="ville" th:value="${affectation.ville}">
                <span class="text-danger" th:errors ="${affectation.ville}"></span>
            </div>
            <div>
                <label>Quartier </label>
                <input class="form-control" type="text" name="QUARTIER" th:value="${affectation.QUARTIER}">
                <span class="text-danger" th:errors ="${affectation.QUARTIER}"></span>
            </div>

            <br>
                <div class="d-grid gap-3">
                    <button type="submit"class="btn-primary">Ajouter</button>
                </div>
        </form>
    </div>
</div>
</body>
</html>
